@model ClientViewModel

@{
    AjaxOptions ajaxOptions = new AjaxOptions()
    {
        HttpMethod = "POST",
        UpdateTargetId = "WorkSpace",
        InsertionMode = InsertionMode.Replace,

    };
}

@Styles.Render("~/MyContent/css")
@Styles.Render("~/Bootsrtap/css")
@Scripts.Render("~/bundles/modernizr")



    <div class="container-fluid">
        <div class="row  partial_project" id="partial_project">

            <div class="col-lg-8 project_new" id="project_new">
                <h2>Create A New Project</h2>

                <div class="project_name">
                    <label>Project Name*</label>
                    @*@Html.TextBoxFor(p => p.Name, new { @class = "project_name_textbox", placeholder = "Write Project Name" })*@
                    <input type="text" id="project_name" placeholder="Write Project Name" class="project_name_textbox">
                </div>

                <div class="template">
                    <h3>Select Template</h3>

                    <div class="template_field">
                        <input type="checkbox" name="tmpt_production" id="production" onclick="ProductionChecked()">
                        <label for="production" id="production_lbl">Production</label>
                    </div>

                    <div class="template_field">
                        <input type="checkbox" name="tmpt_double_span" id="double_span" onclick="DoubleSpanChecked()">
                        <label for="double_span" id="double_span_lbl">Double Span</label>
                    </div>

                    <div class="template_field">
                        <input type="checkbox" name="tmpt_shed" id="shed" onclick="ShedChecked()">
                        <label for="shed" id="shed_lbl">Shed</label>
                    </div>

                    <div class="template_field">
                        <input type="checkbox" name="tmpt_double_shed" id="double_shed" onclick="DoubleShedChecked()">
                        <label for="double_shed" id="double_shed_lbl">Double Shed</label>
                    </div>


                </div>
                <div class="template_image" id="temp_image">
                    <div class="template_image_content" id="template_image_content">
                        <h2 id="temp_name"></h2>
                        <p id="temp_context"></p>
                    </div>
                </div>

                <div class="project_create">

                    <input type="submit" value="Create" class="btn_create btn btn-primary" onclick="NextStage()" />

                    @*@Html.ActionLink("Create", "NewIFC", null, new { @class = "project_create_button" })*@
                    @*<button class="project_create_button" onclick="CreateNewProject()"> Create</button>*@
                </div>
            </div>

            <div class="col-lg-3 project_list" id="project_list">
                <h2 class="row">My Projects</h2>
                <div class="row my_projects" id="my_projects">
                    @{
                        //var curUserProjects=
                        if (Model.PebsClient.Projects != null && Model.PebsClient.Projects.Count > 0)
                        {
                            foreach (var project in Model.PebsClient.Projects)
                            {
                                <div class="col-lg-12">
                                    <div class=" project_item" onclick="ViewAdminReport(@project.Id)" data-toggle="modal" data-target="#exampleModalCenter-@project.Id">
                                       @project.Name
                                   </div>    
                                </div>


                                <div class="modal fade" id="exampleModalCenter-@project.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Project Report</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @{
                                                    if (project.Report != null)
                                                    {
                                                        <table class="table table-striped thead-dark">
                                                            <thead class="thead-dark">
                                                                <tr>
                                                                    <th scope="col">Project Name</th>
                                                                    <th scope="col">Project Cost</th>
                                                                    <th scope="col">Project DeadLine</th>
                                                                    <th scope="col">Provider Notes</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <th>@project.Name</th>
                                                                    <td>@project.Report.Cost</td>
                                                                    <td>@project.Report.DueDate</td>
                                                                    <td>@project.Report.Notes</td>
                                                                </tr>
                                                                
                                                            </tbody>
                                                        </table>
                                                    }

                                                    else
                                                    {
                                                        <span>pending....</span>
                                                    }
                                                }

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <label>You Have No Projects...</label>
                        }
                    }
                </div>

            </div>
        </div>
    </div>
    

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")

<script>



    let currentStage = 1; // At  user is in stage of creating new Project
    let project_started = false;
    let PriceIsAvailable = false;
    let ErectionIsAvailable = false;

    let project_template;
    let projectCounter=0;
    let myProjects = [];

    let project_listHTML = document.getElementById("my_projects");
    let project_current;



    function CreateNewProject() {
        //debugger;
            let project_name = document.getElementById("project_name").value;
        if (project_name !== "" && project_name !== null) {

            $.ajax({
                type: "POST",
                url: "/Account/RenderDimsView",
                //dataType: "json",
                //contentType: "application/json; charset=utf-8",
                data: { pName: project_name },

                success: function (result) {
                    $("#WorkSpace_Content").replaceWith(result);
                    //console.log(result);

                    project_current = document.getElementById("project_current");
                    project_current.innerText = project_name;
                    projectCounter++;

                    //NextStage();
                    project_started = true;
                },
                error: function (result) {
                    console.log(result);
                    console.log("Error");
                }
            });
        }
        else {
            document.getElementById("project_name").focus();
        }
    }

    function NextStage() {
        if (currentStage<6) {
            switch (currentStage) {
                case 0:
                    //New Project
                    document.getElementById("sideBar_new_project").classList.remove("side_bar_element");
                    document.getElementById("sideBar_new_project").classList.add("side_bar_element_Active");

                    //Edit Dimensions
                    document.getElementById("sideBar_edit_dimensions").classList.remove("side_bar_element_inActive");
                    document.getElementById("sideBar_edit_dimensions").classList.add("side_bar_element");

                    //Edit Configurations
                    document.getElementById("sideBar_edit_configs").classList.remove("side_bar_element_inActive");
                    document.getElementById("sideBar_edit_configs").classList.add("side_bar_element");

                    //Edit Location
                    document.getElementById("sideBar_edit_location").classList.remove("side_bar_element_inActive");
                    document.getElementById("sideBar_edit_location").classList.add("side_bar_element");

                    //Edit Erection
                    document.getElementById("sideBar_edit_erection").classList.remove("side_bar_element_inActive");
                    document.getElementById("sideBar_edit_erection").classList.add("side_bar_element");

                    //Edit Pricing
                    document.getElementById("sideBar_edit_pricing").classList.remove("side_bar_element_Active");
                    document.getElementById("sideBar_edit_pricing").classList.add("side_bar_element");
                    currentStage++;
                    break;
                // Currently At Create New Project
                // Go To View1 Factory Dimensions
                case 1:
                    if (document.getElementById("project_name").value !== "" && document.getElementById("project_name").value !== null) {
                        CreateNewProject();
                        //New Project
                        document.getElementById("sideBar_new_project").classList.remove("side_bar_element_Active");
                        document.getElementById("sideBar_new_project").classList.add("side_bar_element_Completed");

                        //Edit Dimensions
                        document.getElementById("sideBar_edit_dimensions").classList.remove("side_bar_element_inActive");
                        document.getElementById("sideBar_edit_dimensions").classList.add("side_bar_element_Active");

                        currentStage++;
                    }
                    else {
                        document.getElementById("project_name").focus();
                    }

                    //Edit Configurations
                    //document.getElementById("sideBar_edit_configs").classList.remove("side_bar_element_inActive");
                    //document.getElementById("sideBar_edit_configs").classList.add("side_bar_element");

                    ////Edit Location
                    //document.getElementById("sideBar_edit_location").classList.remove("side_bar_element_inActive");
                    //document.getElementById("sideBar_edit_location").classList.add("side_bar_element");

                    ////Edit Erection
                    //document.getElementById("sideBar_edit_erection").classList.remove("side_bar_element_inActive");
                    //document.getElementById("sideBar_edit_erection").classList.add("side_bar_element");

                    //if (PriceIsAvailable) {
                    //    //Edit Pricing
                    //    document.getElementById("sideBar_edit_pricing").classList.remove("side_bar_element_Active");
                    //    document.getElementById("sideBar_edit_pricing").classList.add("side_bar_element");
                    //}

                    break;
                // Currently At Editing Factory Dimensions
                // Go To View2 Factory Bays
                case 2:
                    //Edit Dimensions
                    RenderBaysView();

                    currentStage++;
                    break;
                //Currently At Factory Bays
                //Go to Configuration
                case 3:
                    //Edit Dimensions
                    document.getElementById("sideBar_edit_dimensions").classList.remove("side_bar_element_Active");
                    document.getElementById("sideBar_edit_dimensions").classList.add("side_bar_element_Completed");

                    //Edit Configurations
                    document.getElementById("sideBar_edit_configs").classList.remove("side_bar_element_inActive");
                    document.getElementById("sideBar_edit_configs").classList.add("side_bar_element_Active");
                    RenderConfigView();

                    ////Edit Location
                    //document.getElementById("sideBar_edit_location").classList.remove("side_bar_element");
                    //document.getElementById("sideBar_edit_location").classList.add("side_bar_element_Active");

                    ////Edit Pricing
                    //document.getElementById("sideBar_edit_pricing").classList.remove("side_bar_element_inActive");
                    //document.getElementById("sideBar_edit_pricing").classList.add("side_bar_element");

                    currentStage++;
                    break;

                case 4:
                    //Edit Configurations
                    document.getElementById("sideBar_edit_configs").classList.remove("side_bar_element_Active");
                    document.getElementById("sideBar_edit_configs").classList.add("side_bar_element_Completed");
                    RenderLocalizationView();


                    //Edit Location
                    //PriceIsAvailable = true;
                    document.getElementById("sideBar_edit_location").classList.remove("side_bar_element_inActive");
                    document.getElementById("sideBar_edit_location").classList.add("side_bar_element_Active");

                    //Edit Erection
                    //document.getElementById("sideBar_edit_erection").classList.remove("side_bar_element");
                    //document.getElementById("sideBar_edit_erection").classList.add("side_bar_element_Active");

                    currentStage++;
                    break;

                case 5:
                    //Edit Location
                    //PriceIsAvailable = true;
                    document.getElementById("sideBar_edit_location").classList.remove("side_bar_element_Active");
                    document.getElementById("sideBar_edit_location").classList.add("side_bar_element_Completed");
                    RenderErectionView();

                    //Edit Erection
                    //PriceIsAvailable = true;
                    document.getElementById("sideBar_edit_erection").classList.remove("side_bar_element_inActive");
                    document.getElementById("sideBar_edit_erection").classList.add("side_bar_element_Active");

                    ////Edit Pricing
                    //document.getElementById("sideBar_edit_pricing").classList.remove("side_bar_element");
                    //document.getElementById("sideBar_edit_pricing").classList.remove("side_bar_element_inActive");
                    //document.getElementById("sideBar_edit_pricing").classList.add("side_bar_element_Active");
                    //currentStage++;

                    break;
            }
        }
        //else {
        //    currentStage = 0;
        //    NextStage();
        //}

    }

    function PreviousStage() {
        if (project_started) {
            if (currentStage > 1) {
                switch (currentStage) {
                    case 6:

                        //New Project
                        document.getElementById("sideBar_new_project").classList.remove("side_bar_element_Active");
                        document.getElementById("sideBar_new_project").classList.add("side_bar_element");

                        //Edit Pricing
                        document.getElementById("sideBar_edit_pricing").classList.remove("side_bar_element_Active");
                        document.getElementById("sideBar_edit_pricing").classList.add("side_bar_element");

                        //Edit Erection
                        document.getElementById("sideBar_edit_erection").classList.remove("side_bar_element");
                        document.getElementById("sideBar_edit_erection").classList.add("side_bar_element_Active");

                        currentStage--;
                        break;

                    case 5:

                        //Edit Erection
                        document.getElementById("sideBar_edit_erection").classList.remove("side_bar_element_Active");
                        document.getElementById("sideBar_edit_erection").classList.add("side_bar_element");

                        //Edit Location
                        document.getElementById("sideBar_edit_location").classList.remove("side_bar_element");
                        document.getElementById("sideBar_edit_location").classList.add("side_bar_element_Active");
                        currentStage--;
                        break;

                    case 4:
                        //Edit Location
                        document.getElementById("sideBar_edit_location").classList.remove("side_bar_element_Active");
                        document.getElementById("sideBar_edit_location").classList.add("side_bar_element");

                        //Edit Configuration
                        document.getElementById("sideBar_edit_configs").classList.remove("side_bar_element");
                        document.getElementById("sideBar_edit_configs").classList.add("side_bar_element_Active");

                        currentStage--;
                        break;

                    case 3:
                        //Edit Configuration
                        document.getElementById("sideBar_edit_configs").classList.remove("side_bar_element_Active");
                        document.getElementById("sideBar_edit_configs").classList.add("side_bar_element");

                        //Edit Dimensions
                        document.getElementById("sideBar_edit_dimensions").classList.remove("side_bar_element");
                        document.getElementById("sideBar_edit_dimensions").classList.add("side_bar_element_Active");

                        currentStage--;
                        break;

                    case 2:

                        //Edit Dimensions
                        document.getElementById("sideBar_edit_dimensions").classList.remove("side_bar_element_Active");
                        document.getElementById("sideBar_edit_dimensions").classList.add("side_bar_element");

                        //New Project
                        document.getElementById("sideBar_new_project").classList.remove("side_bar_element");
                        document.getElementById("sideBar_new_project").classList.add("side_bar_element_Active");

                        currentStage--;
                        break;

                    case 7:
                        //New Project
                        document.getElementById("sideBar_new_project").classList.remove("side_bar_element_Active");
                        document.getElementById("sideBar_new_project").classList.add("side_bar_element");

                        //Edit Pricing
                        document.getElementById("sideBar_edit_pricing").classList.remove("side_bar_element");
                        document.getElementById("sideBar_edit_pricing").classList.add("side_bar_element_Active");

                        currentStage--;
                        break;
                }
            }
            else {
                if (PriceIsAvailable) {
                    currentStage = 7;
                    PreviousStage();
                }
                else if (ErectionIsAvailable){
                    currentStage = 6;
                    PreviousStage();
                }

            }
        }


    }

    function ViewAdminReport(projectId) {
        //project_current = document.getElementById("project_current");
        //project_current.innerText = projectName;

         $.ajax({
        type: "POST",
        url: "/Account/SendReport",
        //dataType: "string",k
        // contentType: "application/json; charset=utf-8",

        data: { Cost: cost, DueDate: date, Notes:notes, Projectid: id },

             success: function (result) {

            //var x = JSON.parse(result);
            //console.log(x)
        },
        error: function (result) {
            console.log(result);
            console.log("Error");
        }
    });





    }

























    function InitializeProject() {
        //document.getElementById("project_section_NameAndType").style.display="none";
        //confirm("adssa");
    }

    let _checkboxProduction = document.getElementById("production");
    let _checkboxShed = document.getElementById("shed");
    let _checkboxDoubleShed = document.getElementById("double_shed");
    let _checkboxDoubleSpan= document.getElementById("double_span");

    let production_lbl = document.getElementById("production_lbl");
    let shed_lbl = document.getElementById("shed_lbl");
    let double_shed_lbl = document.getElementById("double_shed_lbl");
    let double_span_lbl = document.getElementById("double_span_lbl");

    let _template_label = document.querySelectorAll("label[id*='lbl']")
    let _temp_name = document.getElementById("temp_name");
    let _temp_context = document.getElementById("temp_context");

    let _tempImage = document.getElementById("temp_image");
    let template_image_content = document.getElementById("template_image_content");

    onload = function () {
        _checkboxProduction.checked = true;
        _checkboxShed.checked = false;
        _checkboxDoubleShed.checked = false;
        _checkboxDoubleSpan.checked = false;
        ProductionChecked();
    }


    _tempImage.onmouseenter = function () {
        template_image_content.style.top = "0%";
    }

    _tempImage.onmouseleave = function () {
        template_image_content.style.top = "100%";
    }

    production_lbl.onclick = function () { ProductionChecked(); }
    shed_lbl.onclick = function () { ShedChecked();}
    double_shed_lbl.onclick = function () { DoubleShedChecked();}
    double_span_lbl.onclick = function () { DoubleSpanChecked();}











    //
    function ProductionChecked() {
        project_template = 1;
        _checkboxProduction.checked=true;
        _checkboxShed.checked = false;
        _checkboxDoubleShed.checked = false;
        _checkboxDoubleSpan.checked = false;

        _tempImage.style.backgroundImage = ("url(@Url.Content("~/Images/production.jpg"))");

        _temp_name.innerText = "Production";
        _temp_context.innerText = "Dimensions: 24m x 80m at 6.0m \n Roof: Sandwich Panel \n Wall: Sandwich Panel";

    }

    function DoubleSpanChecked() {
        project_template = 2;
        _tempImage.style.backgroundImage = ("url(@Url.Content("~/Images/storage.jpg"))");
        _checkboxDoubleSpan.checked = true;
        _checkboxDoubleShed.checked = false;
        _checkboxShed.checked = false;
        _checkboxProduction.checked = false;

        _temp_name.innerText = "Double Span";
        _temp_context.innerText = "Dimensions: 10m x 30m at 4.0m \n Roof: Sandwich Panel \n Wall: Sandwich Panel";
    }

    function ShedChecked() {
        project_template = 3;
        _tempImage.style.backgroundImage = ("url(@Url.Content("~/Images/shed.jpg"))");
        _checkboxShed.checked = true;
        _checkboxProduction.checked = false;
        _checkboxDoubleShed.checked = false;
        _checkboxDoubleSpan.checked = false;

        _temp_name.innerText = "Shed";
        _temp_context.innerText = "Dimensions: 10m x 30m at 4.0m \n Roof: Sandwich Panel \n Wall: Sandwich Panel";
    }

    function DoubleShedChecked() {
        project_template = 4;
        _tempImage.style.backgroundImage = ("url(@Url.Content("~/Images/agri.jpeg"))");
        _checkboxDoubleShed.checked = true;
        _checkboxShed.checked = false;
        _checkboxProduction.checked = false;
        _checkboxDoubleSpan.checked = false;

        _temp_name.innerText = "Double Shed";
        _temp_context.innerText = "Dimensions: 10m x 30m at 4.0m \n Roof: Sandwich Panel \n Wall: Sandwich Panel";
    }



</script>

