
@{
    ViewBag.Title = "AdminHomePage";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

@model ClientViewModel

@Styles.Render("~/MyContent/css")
@Styles.Render("~/Bootsrtap/css")
@Scripts.Render("~/bundles/modernizr")

<h1 style="text-align:center; margin-bottom:50px;">Project List</h1>
<table class="table table-striped table-hover">


    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Project Name</th>
            <th>Client Name</th>
            <th>3D View </th>
            <th>View Details </th>
            <th>Download IFC </th>
            <th>Send Report</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model.Projects)
        {
            //  var report = project.Report;

            // in case of open Employees link
            var pId = project.Id;
        <tr>
            <td></td>
            <td></td>
            <td>@project.Name</td>
            <td>@project.PebsClient.Name</td>

            <td>
                <button type="button" class="btn btn-primary" onclick="ViewModel(@pId)">View Model</button>
            </td>


            <td>
                @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="exampleModal" onclick="ViewDetails(@pId)">View Details</button>*@
                @*<div class=" project_item" data-toggle="modal" data-target="#exampleModalCenter">
                    View Details
                </div>*@
                <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter-@project.Id"  onclick="ViewDetails(@project.Id)">  View Details</button>

                <div class="modal fade" id="exampleModalCenter-@project.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Project Report</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body-@project.Id">
                                <h3 style="margin-left:180px;">Project Main Details</h3>
                                <table class="table table-striped table-hover main_details">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th></th>
                                            <th scope="col">Info.</th>
                                            <th scope="col">Value</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <th>Span</th>
                                            <td class="span_value"></td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <th scope="row">Height</th>
                                            <td class="Height_value"></td>
                                        </tr>

                                        <tr>
                                            <td></td>

                                            <th scope="row">Length</th>
                                            <td class="Lenght_value"></td>
                                        </tr>



                                        <tr>
                                            <td></td>

                                            <th scope="row">Slope</th>
                                            <td class="Slope_value"></td>
                                        </tr>

                                        <tr>
                                            <td></td>

                                            <th scope="row">Roof Color</th>
                                            <td class="RoofColor_value"></td>
                                        </tr>

                                        <tr>
                                            <td></td>

                                            <th scope="row">Cladding Color</th>
                                            <td class="CladdingColor_value"></td>
                                        </tr>

                                        <tr>
                                            <td></td>

                                            <th scope="row">No. of Frames</th>
                                            <td class="NoOfFrames_value"></td>
                                        </tr>

                                        <tr>
                                            <td></td>

                                            <th scope="row">No. of Single Windows</th>
                                            <td class="NoOfSingleWindows_value"></td>
                                        </tr>

                                        <tr>
                                            <td></td>

                                            <th scope="row">No. of Row Windows</th>
                                            <td class="NoOfRowWindows_value"></td>
                                        </tr>

                                        <tr>
                                            <td></td>

                                            <th scope="row">No. of Single Doors</th>
                                            <td class="NoOfSingleDoors_value"></td>
                                        </tr>

                                        <tr>
                                            <td></td>

                                            <th scope="row">No. of Sectional Doors</th>
                                            <td class="NoOfSecDoors_value"></td>
                                        </tr>


                                    </tbody>
                                </table>

                                <h3 style="margin-left:220px;">Bays Details</h3>
                                <table class="table table-striped table-hover bays_details">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th></th>
                                            <th scope="col">No.</th>
                                            <th scope="col">Lenght(m)</th>
                                            <th scope="col">Cumulative(m)</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>

                                        </tr>
                                    </thead>

                                    <tbody></tbody>
                                </table>

                                <h3 style="margin-left:180px;">Single Windows Details</h3>
                                <table class="table table-striped table-hover singleWindows_details">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th></th>
                                            <th scope="col">No.</th>
                                            <th scope="col">Width(m)</th>
                                            <th scope="col">Height(m)</th>
                                            <th scope="col">Frame Color</th>
                                            <th scope="col">X Position</th>
                                            <th scope="col">Y Position</th>
                                            <th scope="col">Z Position</th>
                                        </tr>
                                    </thead>

                                    <tbody></tbody>
                                </table>


                                <h3 style="margin-left:180px;">Row Windows Details</h3>
                                <table class="table table-striped table-hover rowWindows_details">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th></th>
                                            <th scope="col">No.</th>
                                            <th scope="col">Cell Width(m)</th>
                                            <th scope="col">Cells</th>
                                            <th scope="col">Total Width(m)</th>
                                            <th scope="col">Height(m)</th>
                                            <th scope="col">  Color</th>
                                            <th scope="col">X Pos.</th>
                                            <th scope="col">Y Pos.</th>
                                            <th scope="col">Z Pos.</th>
                                        </tr>
                                    </thead>

                                    <tbody></tbody>
                                </table>


                                <h3 style="margin-left:180px;">Single Doors Details</h3>
                                <table class="table table-striped table-hover singleDoors_details">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th></th>
                                            <th scope="col">No.</th>
                                            <th scope="col">Width(m)</th>
                                            <th scope="col">Height(m)</th>
                                            <th scope="col">Door Color</th>
                                            <th scope="col">X Pos.</th>
                                            <th scope="col">Y Pos.</th>
                                            <th scope="col">Z Pos.</th>
                                        </tr>
                                    </thead>

                                    <tbody></tbody>
                                </table>

                                <h3 style="margin-left:180px;">Sectional  Doors Details</h3>
                                <table class="table table-striped table-hover secDoors_details">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th></th>
                                            <th scope="col">No.</th>
                                            <th scope="col">Width(m)</th>
                                            <th scope="col">Height(m)</th>
                                            <th scope="col">Color</th>
                                            <th scope="col">X Pos.</th>
                                            <th scope="col">Y Pos.</th>
                                            <th scope="col">Z Pos.</th>
                                        </tr>
                                    </thead>

                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            </div>
                        </div>
                    </div>
                </div>

            </td>
            <td>
                <button type="button" class="btn btn-primary" onclick="ViewModel(@pId)">Download IFC</button>
            </td>
            <td>
                <button type="button" id="Savebutton-@project.Id" class="btn btn-primary" pj="@project.Id" data-toggle="modal" data-target="#exampleModal-@project.Id">SendReport</button>
            </td>
            <td >
                <div class="modal fade" id="exampleModal-@project.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Cost</label>
                                        <input type="text" class="form-control" id="recipient-name-@project.Id">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Due Date</label>
                                        <input type="text" class="form-control" id="message-text-@project.Id">
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Notes</label>
                                        <input type="text" class="form-control" id="notes-text-@project.Id">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" alaa="" onclick="SendReport(@project.Id)" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
   

        }

    </tbody>

</table>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")

<script>
    
    ViewModel = function (id) {

        $.ajax({
            type: "POST",
            url: "/Account/ViewModel",
            //dataType: "string",
            // contentType: "application/json; charset=utf-8",
            data: { id: id },

            success: function (result) {
                var x = JSON.parse(result);
                console.log(x)
            },
            error: function (result) {
                console.log(result);
                console.log("Error");
            }
        });
    }
    var y = [];
    let singleWinArr = [];
    let rowWinArr = [];
    let singleDoorArr = [];
    let secDoorArr = [];
    let frontWallArr = [];
    let doubleCladArr = [];
    let roofArr = [];
    let baysArr = [];
 
    ViewDetails = function (id) {


        $.ajax({
            type: "POST",
            url: "/Account/ViewDetails",
            //dataType: "string",
            // contentType: "application/json; charset=utf-8",
            data: { id: id },

            success: function (result) {
               // var x = JSON.parse(result);
             //   console.log(result)
                //console.log(x)
                y = JSON.parse(result);
             //   console.log(y)
                singleWinArr = y[0];
                rowWinArr =      y[1];
                singleDoorArr =  y[2];
                secDoorArr =     y[3];
                frontWallArr = y[4];
                doubleCladArr =  y[5];
                roofArr = y[6];
                baysArr = y[7];
             




                
                /////////////Basic information///////////////////////////
               
                var singlewall = frontWallArr[0];
                var singlewall2 = frontWallArr[1];

                let span = singlewall.Span;
                $(`.modal-body-${id} > table.main_details >tbody > tr > .span_value`).text(span);//totla span

                let slope = singlewall.Slope;
                $(`.modal-body-${id} > table.main_details >tbody > tr > .Slope_value`).text(slope);//totla slope
               
                
                let height = singlewall.Height; 
                $(`.modal-body-${id} > table.main_details >tbody > tr > .Height_value`).text(height);//totla slope
           
                 let NOfFrams = baysArr.length+1;
                $(`.modal-body-${id} > table.main_details >tbody > tr > .NoOfFrames_value`).text(NOfFrams); //no of frams

                let length =(Math.abs(singlewall.ZPosition - singlewall2.ZPosition));
                $(`.modal-body-${id} > table.main_details >tbody > tr > .Lenght_value`).text(length);//lenght

                let roofColor = roofArr[0].Color;
                $(`.modal-body-${id} > table.main_details >tbody > tr > .RoofColor_value`).append(`<div  style="width:20px; height:20px; border-radius:4px;  background-color:${roofColor}"></div>`)//Roof Color

                let claddingColor = doubleCladArr[0].Color;
                $(`.modal-body-${id} > table.main_details >tbody > tr > .CladdingColor_value`).append(`<div  style="width:20px; height:20px; border-radius:4px;  background-color:${claddingColor}"></div>`)//cladding Color

                let noOfSingleWindows = singleWinArr.length;
                $(`.modal-body-${id} > table.main_details >tbody > tr > .NoOfSingleWindows_value`).text(noOfSingleWindows);//No of Single windows


                let noOfRowWindows = rowWinArr.length;
                $(`.modal-body-${id} > table.main_details >tbody > tr > .NoOfRowWindows_value`).text(noOfRowWindows);//No of Row windows

                let noOfSingleDoors = singleDoorArr.length;
                $(`.modal-body-${id} > table.main_details >tbody > tr > .NoOfSingleDoors_value`).text(noOfSingleDoors);//No of Single Doors


                let noOfSecDoors = secDoorArr.length;
                $(`.modal-body-${id} > table.main_details >tbody > tr > .NoOfSecDoors_value`).text(noOfSecDoors);//No of Sectionals Doors



                /////////////Bays information///////////////////////////
                let cumBay = 0;
                for (var i = 0; i < baysArr.length; i++)
                {
                    cumBay = cumBay + baysArr[i].Width;
                    $(`.modal-body-${id} > table.bays_details >tbody`).append(`<tr>
                                                                                    <th></th>
                                                                                    <th>${i + 1}</th>
                                                                                    <td>${baysArr[i].Width}</td>
                                                                                    <td>${cumBay}</td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                    <td></td>
                                                                                </tr>`)
                }


                /////////////Single Windows Information information///////////////////////////
                for (var i = 0; i < singleWinArr.length; i++)
                {
                    $(`.modal-body-${id} > table.singleWindows_details >tbody`).append(`<tr>
                                                                                            <td></td>
                                                                                            <th>${i + 1}</th>
                                                                                            <td>${singleWinArr[i].Width}</td>
                                                                                            <td>${singleWinArr[i].Height}</td>
                                                                                            <td><div width="10px" height="10px" style="width:20px; height:20px; border-radius:4px; margin-left:20px; background-color:${singleWinArr[i].FrameColor}"></div></td>
                                                                                            <td>${singleWinArr[i].X}</td>
                                                                                            <td>${singleWinArr[i].Y}</td>
                                                                                            <td>${singleWinArr[i].Z}</td>
                                                                                        </tr>`)
                }


                   /////////////Row Windows Information information///////////////////////////
                for (var i = 0; i < rowWinArr.length; i++)
                {
                    $(`.modal-body-${id} > table.rowWindows_details >tbody`).append(`<tr>
                                                                                            <td></td>
                                                                                            <th>${i + 1}</th>
                                                                                            <td>${rowWinArr[i].PWidth}</td>
                                                                                            <td>${rowWinArr[i].Number}</td>
                                                                                            <td>${rowWinArr[i].TotalWidth}</td>
                                                                                            <td>${rowWinArr[i].Height}</td>
                                                                                            <td><div width="10px" height="10px" style="width:20px; height:20px; border-radius:4px; margin-left:10px; background-color:${rowWinArr[i].FrameColor}"></div></td>
                                                                                            <td>${rowWinArr[i].X}</td>
                                                                                            <td>${rowWinArr[i].Y}</td>
                                                                                            <td>${rowWinArr[i].Z}</td>
                                                                                        </tr>`)
                }

                    /////////////Single Doors Information information///////////////////////////
                for (var i = 0; i < singleDoorArr.length; i++)
                {
                    $(`.modal-body-${id} > table.singleDoors_details >tbody`).append(`<tr>
                                                                                            <td></td>
                                                                                            <th>${i + 1}</th>
                                                                                            <td>${singleDoorArr[i].Width}</td>
                                                                                            <td>${singleDoorArr[i].Height}</td>
                                                                                            <td><div width="10px" height="10px" style="width:20px; height:20px; border-radius:4px; margin-left:20px; background-color:${singleDoorArr[i].Color}"></div></td>
                                                                                            <td>${singleDoorArr[i].X}</td>
                                                                                            <td>${singleDoorArr[i].Y}</td>
                                                                                            <td>${singleDoorArr[i].Z}</td>
                                                                                        </tr>`)
                }


                     /////////////Sectional Doors Information information///////////////////////////
                for (var i = 0; i < secDoorArr.length; i++)
                {
                    $(`.modal-body-${id} > table.secDoors_details >tbody`).append(`<tr>
                                                                                            <td></td>
                                                                                            <th>${i + 1}</th>
                                                                                            <td>${secDoorArr[i].Width}</td>
                                                                                            <td>${secDoorArr[i].Height}</td>
                                                                                            <td><div  style="width:20px; height:20px; border-radius:4px; margin-left:10px; background-color:${secDoorArr[i].Color}"></div></td>
                                                                                            <td>${secDoorArr[i].X}</td>
                                                                                            <td>${secDoorArr[i].Y}</td>
                                                                                            <td>${secDoorArr[i].Z}</td>
                                                                                        </tr>`)
                }
              



            },
            error: function (result) {
                console.log(result);
                console.log("Error");
            }
        });

    }
  

    SendReport = function (id) {
        debugger;
         var cost = document.getElementById(`recipient-name-${id}`).value;
         var date = document.getElementById(`message-text-${id}`).value;
        var notes =document.getElementById(`notes-text-${id}`).value;
      //  var Button = $(`#Savebutton-${id}`)
      //  var pid= Button
        //   var x= $("#Savebutton").attr("Projectid").valueOf();
       // var Pid = Button.getAttribute("pj");
        console.log( id);
        
    $.ajax({
        type: "POST",
        url: "/Account/SendReport",
        //dataType: "string",k
        // contentType: "application/json; charset=utf-8",

        data: { Cost: cost, DueDate: date, Notes:notes, Projectid: id },

        success: function (result) {
            //var x = JSON.parse(result);
            //console.log(x)
        },
        error: function (result) {
            console.log(result);
            console.log("Error");
        }
    });
}




</script>