@model RegisterViewModel

@{
    ViewBag.Title = "Log In Or Sign up - PEBS 2019";
    Layout = "~/Views/Shared/_My_Layout_Launch.cshtml";
}

<div class="background" style="background-image:url('/Images/steel_construction_technology.jpg');background-size:cover;height:680px">

</div>

<div class="register_section">
    <div class="header">
        <h3>Design Your Own Building</h3>
        @*<p>Get started - it's free.</p>*@
    </div>
    <div class="user_logins">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
            ///
            <div class="form-group" style="margin-bottom:5px">
                <div class="col-md-10">
                    @Html.LabelFor(m => m.ClientName)
                    @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control Login_field" })
                    @Html.ValidationMessageFor(m => m.ClientName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-bottom:5px">
                <div class="col-md-10">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control Login_field form_group_override" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="margin-bottom:5px">
                <div class="col-md-10">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control Login_field form_group_override" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group" style="margin-bottom:5px">
                <div class="col-md-10">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control Login_field form_group_override" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="margin-bottom:5px">
                <div class="col-md-10">
                    @*@Html.LabelFor(m => m.ConfirmPassword)*@
                    @*<label>Choose A Provider</label>*@
                    @*@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control Login_field form_group_override" })*@
                    @*@Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })*@
                    @*<select class="form-control Login_field">*@
                        @*<option value="">Select A Company</option>*@
                        @*<option value="" selected="selected">Zamil - Steel</option>*@
                    @*</select>*@
                </div>
            </div>
            <div class="form-group" style="margin-bottom:5px">
                <div class="col-md-offset-2 col-md-10" style="text-align:center">
                    <input type="submit" class="btn btn-primary " value="Register As A Client" style="width:120%;margin:auto;left:50%;transform:translate(-18%,5px)" />
                </div>
            </div>
            @*<div class="form-group admin_register" style="margin-top:10px">
                <div class="col-md-offset-2 col-md-10" style="text-align:center">
                    <label style="width:120%;margin:auto;left:50%;transform:translateX(-10%)"> OR </label>
                    <input type="submit" class="btn btn-primary " value="Register As Provider" style="margin-top:10px;width:120%;margin:auto;left:50%;transform:translate(-18%,5px)" />
                </div>

            </div>*@
        }
    </div>
</div>

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
}
